.header{
    text-align: center;
}

.firstContainer{
    margin-top: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.ligne{
    background-color: black;
    width: 12%;
    height: 9px;
}
.resistance{
background-color: rgb(241, 204, 161);
display: flex;
height: 100px;
width: 35%;
margin-left: -1%;
border-radius: 15px;
}

.firstColor{
    background-color: black;
    width: 7%;
    height: 100%;
    margin-left: 20px;
}
.secondColor{
    width: 7%;
    height: 100%;
    margin-left: 60px;
}
.thirdColor{
    width: 7%;
    height: 100%;
    margin-left: 200px;
}
.lastColor{
    width: 7%;
    height: 100%;
    margin-left: 40px;
}

.BlueBar{
    background-color:blue;
}

.OrangeBar{
    background-color:orange;
}
.BlackBar{
    background-color:Black;
}
.BrownBar{
    background-color: brown;
}
.RedBar{
    background-color: red;
}
.YellowBar{
    background-color: yellow;
}
.GreenBar{
    background-color: green;
}
.PurpleBar{
    background-color: purple;
}
.GreyBar{
    background-color: grey;
}
.WhiteBar{
    background-color: white;
}
.GoldBar{
    background-color: gold;
}
.SilverBar{
    background-color: silver;
}


.chooseColor{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 70%;
    margin-left: 10%;

}
h2{
    margin-top: 50px;
    text-align: center;
}

.echo{
    margin: 5px;
    display: flex;
    justify-content: center;
}
.echoResult{
   text-align: center;
   background-color: grey;
   border-radius: 20%;
}
.echoValue{
    text-align: center center;
}