.header{
    text-align: center;
}

.firstContainer{
    margin-top: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}


.ligne{
    background-color: black;
    width: 12%;
    height: 9px;
}
.resistance{
background-color: #ccc;
display: flex;
height: 100px;
width: 35%;
margin-left: -1%;
border-radius: 15px;
}

.chooseColor{
    display: flex;
    flex-wrap: wrap;
}

.firstRing{
    background-color: rgb(63, 122, 8);
    width: 7%;
    height: 100%;
    margin-left: 20px;
}
.secondRing{
    background-color: blue;
    width: 7%;
    height: 100%;
    margin-left: 60px;
}
.thirdRing{
    background-color: red;
    width: 7%;
    height: 100%;
    margin-left: 200px;
}
.lastRing{
    background-color: orange;
    width: 7%;
    height: 100%;
    margin-left: 40px;
}

.chooseColor{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    width: 70%;
    margin-left: 10%;

}

h2{
    margin-top: 50px;
    text-align: center;
}